# Switch windows with Alt-Direction
bind -n M-Left previous-window
bind -n M-Right next-window

# Switch window order
bind -r S-Left swap-window -t -1
bind -r S-Right swap-window -t +1

# Switch panes with Alt-Shift-Direction
bind -n C-S-Left select-pane -L
bind -n C-S-Right select-pane -R
bind -n C-S-Up select-pane -U
bind -n C-S-Down select-pane -D

# Synchronize panes
bind b setw synchronize-panes

# Enable mouse control (clickable windows, panes, resizable panes)
set -g mouse on

# Terminal colors
set -g default-terminal "screen-256color"

######################
### DESIGN CHANGES ###
######################

# loud or quiet?
# set-option -g visual-activity off
# set-option -g visual-bell off
# set-option -g visual-silence off
# set-window-option -g monitor-activity off
# set-option -g bell-action none

#  modes
setw -g clock-mode-colour colour5
setw -g mode-style 'fg={{HIGHLIGHT}} bg={{GREY_2}} bold'

# panes
setw -g pane-border-style 'fg={{GREY_3}} bg={{BLACK}}'
setw -g pane-active-border-style 'fg={{HIGHLIGHT}} bg={{BLACK}}'

# status bar
set -g status-position bottom
set -g status-justify left
set -g status-style 'fg={{GREY_5}} bg={{GREY_0}}'
set -g status-left ''
{% if REMOTE %}
set -g status-right '#[fg={{GREY_2}}]#[bg={{GREY_2}}]#[fg={{HIGHLIGHT}}] #h '
{% else %}
set -g status-right '#(cd #{pane_current_path}; ~/bin/git-status.sh)'
{% endif %}
set -g status-right-length 50
set -g status-left-length 20
set -g status-interval 1

setw -g window-status-style 'fg={{GREY_6}} bg={{GREY_2}} bold'
setw -g window-status-current-format ' #I#[fg={{HIGHLIGHT}}]:#[fg={{GREY_6}}]#W#[fg={{HIGHLIGHT}}]#F '

setw -g window-status-style 'fg={{GREY_4}} bg={{GREY_1}}'
setw -g window-status-format ' #I#[fg=colour237]:#[fg=colour250]#W#[fg=colour244]#F '

setw -g window-status-bell 'fg={{GREY_6}} bg={{RED}} bold'

# messages
set -g message-style 'fg={{GREY_6}} bg={{GREY_2}} bold'

